<!DOCTYPE html>
<html lang="en">
<head>
    <title>Most popular domains ip resolve</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <table class="table table-striped">
                <thead><tr><th>Domain</th><th>Ip</th></tr></thead>
                <tbody>
                    {% for row in query %}
                    <tr><td>{{ row[0] }}</td><td>{{ row[1] }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 text-center">
            <nav aria-label="...">
                <ul class="pagination">
                    {% if pagination.prev_page() %}
                    <li><a href="/?page={{ pagination.prev_page() }}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    {% endif %}

                    {% for page in pagination %}
                        {% if page.is_current %}
                        <li class="active"><a href="/?page={{ page.number }}">{{ page.number }}<span class="sr-only">(current)</span></a></li>
                        {% else %}
                        <li><a href="/?page={{ page.number }}">{{ page.number }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if pagination.next_page() %}
                    <li><a href="/?page={{ pagination.next_page() }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>